* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}
.container {
    width: 60%;
    margin: 0 auto;
}
.header {
    display: inline-block;
   height: 2.9rem;
   color: #fff;
   font-weight: 600;
   word-spacing: 1rem;
   font-size: 3rem;
}

.input-group {
    display: flex;
    margin: 1.5rem;
}
.form-control {
    flex: 1;
    padding: 1rem .5rem;
    border-radius: 20px;
    border: .5px solid rgb(190, 187, 187);
    font-size: 1rem;
}

.input-group button {
    flex: 0.2;
    border-top-right-radius: 1rem;
    background-color: rgb(31, 31, 31);
}

.btn-dark {
    padding: .5em 1.4em;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}

.btn-danger {
    background-color: rgba(179, 39, 39, 0.911);
    font-size: 15px;
    font-weight: 800;
    padding: .3em .7em;
}

.invalid-feedback {
    padding-top: .4rem;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(116, 115, 115, 0.075);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(44, 46, 44, 0.123);
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.todo-title {
    font-size: 1.5rem;
    font-weight: 500;
}